$portfolio-black-primary: mat-palette($mat-grey, 700, 300, 900);
$portfolio-black-accent: mat-palette($mat-blue-grey, 400);
$portfolio-black-warn: mat-palette($mat-red, 500);

$portfolio-black-theme: mat-dark-theme(
  $portfolio-black-primary,
  $portfolio-black-accent,
  $portfolio-black-warn
);
