$portfolio-light-primary: mat-palette($mat-grey, 200, 500, 300);
$portfolio-light-accent: mat-palette($mat-brown, 200);
$portfolio-light-warn: mat-palette($mat-deep-orange, 200);

$portfolio-light-theme: mat-light-theme(
  $portfolio-light-primary,
  $portfolio-light-accent,
  $portfolio-light-warn
);
