@import '~@angular/material/theming';

@mixin portfolio-stock-market-component-theme($theme) {
  $warn: map-get($theme, warn);

  portfolio-stock-market {
    mat-card {
      .negative {
        color: mat-color($warn);
      }
    }

    .error {
      mat-icon {
        color: mat-color($warn);
      }
    }
  }
}
